Repository italodeandra/pijama: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --cache --fix, yarn prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": "yarn eslint --cache --fix",
  "*.{js,ts,tsx,css,md}": "yarn prettier --write"
}

add hook `useFocusDirty`
  lib/hooks/useFocusDirty/index.ts
  lib/hooks/useFocusDirty/useFocusDirty.ts
Due: yarn eslint --cache --fix, yarn prettier --write

2.4.3
  package-lock.json
  package.json
Due: none

update `date-fns`
  package-lock.json
  package.json
Due: none

2.4.4
  package-lock.json
  package.json
Due: none

[theme] remove text default color
  lib/styles/defaultTheme.ts
Due: yarn eslint --cache --fix, yarn prettier --write

install `react-dnd-touch-backend`
  package-lock.json
  package.json
Due: none

2.4.5
  package-lock.json
  package.json
Due: none

fix `next/config` usage
  lib/database/connectToDatabase.ts
Due: yarn eslint --cache --fix, yarn prettier --write

2.4.6
  package-lock.json
  package.json
Due: none

keep synced collections on global
  lib/database/connectToDatabase.ts
  lib/database/createRepository.ts
Due: yarn eslint --cache --fix, yarn prettier --write

improve appProps typings
  lib/next/AppProps.ts
  lib/next/withEmotionCache.tsx
Due: yarn eslint --cache --fix, yarn prettier --write

start using ``@typescript-eslint` rules
  .eslintrc.js
Due: yarn eslint --cache --fix, yarn prettier --write

remove `react-query`
  package-lock.json
  package.json
Due: none

add `queryProxy`
  lib/queryProxy/axios.ts
  lib/queryProxy/index.ts
  lib/queryProxy/queryProxy.test.tsx
  lib/queryProxy/queryProxy.tsx
Due: yarn eslint --cache --fix, yarn prettier --write

2.5.0
  package-lock.json
  package.json
Due: none

Update readme.md
  readme.md
Due: yarn prettier --write
